# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled code or logs
*.log
*.exe
*.dll
*.class

# Ignore database and IDE files
*.sqlite3
.idea/
.vscode/